<div class="row">
    <h1>Educacion</h1>
    <div  class="col-lg-1"> </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1> educacion </h1> - <h3>(año)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Qui tenetur nihil ipsam ullam delectus nostrum iste inventore,
                  provident neque, velit praesentium minus voluptate cum. 
                  Impedit sit mollitia hic ipsa commodi?</p>
        </ul>
        <ul>
            <li>
                <h1> educaion 2</h1> - <h3>(año)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Qui tenetur nihil ipsam ullam delectus nostrum iste inventore,
                  provident neque, velit praesentium minus voluptate cum. 
                  Impedit sit mollitia hic ipsa commodi?</p>
        </ul>
        <ul>
            <li>
                <h1> educacion 3</h1> - <h3>(año)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Qui tenetur nihil ipsam ullam delectus nostrum iste inventore,
                  provident neque, velit praesentium minus voluptate cum. 
                  Impedit sit mollitia hic ipsa commodi?</p>
        </ul>
    </div>

</div>
